CUSTOMER_DB_NAME=customers
CUSTOMER_DB_USER=customer
CUSTOMER_DB_PASSWORD=
CUSTOMER_PORT=8081
FLEET_DB_NAME=fleet
FLEET_DB_USER=fleet
FLEET_DB_PASSWORD=
FLEET_PORT=8082
BOOKING_DB_NAME=bookings
BOOKING_DB_USER=booking
BOOKING_DB_PASSWORD=
BOOKING_PORT=8083
PAYMENT_DB_NAME=payments
PAYMENT_DB_USER=payment
PAYMENT_DB_PASSWORD=
PAYMENT_PORT=8084
